@import "config";

ul {
  padding: 0;
  list-style: none;
  display: flex;
}

li {
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0.5rem;
}


// Hamburger menu
.burger {
  display: block;
  cursor: pointer;

  div {
    width: 25px;
    height: 3px;
    background-color: $primary-text;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.toggle>.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle>.line2 {
  opacity: 0;
}

.toggle>.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

// Hamburger menu end

.mobile-none {
  display: none;
}

.nav-active {
  display: block !important;
  transform: translateX(0) !important;
  transition: all 0.5s ease !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.show {
  display: block !important;
}

.align-right {
  float: right;
  color: $secondary-text;
  padding-right: .5rem;
}

.px-1 {
  padding: 0 1rem;
}

.fa-angle-right {
  font-size: 1rem;
}